* {
    user-select: none; 
}

body, input {
    display: block;
    background-color: #B0B0B0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-size-adjust: none;
}

.grid > div {
    padding: 5px 5px;
    vertical-align: middle;
    margin: 6px;
    display: inline-block;
    background-color: aqua;
}

#cart {
    background-color: darksalmon;
}

#stash {
    background-color: darkseagreen;
}

#help {
    background-color: #C0C0C0;
    font-size: large;
}

#js-mobile-console {
    font-size: small;
    line-height: normal;
}

.button {
    color: #333;
    background-color: rgb(213, 213, 213);
    border-radius: 7px;
    border: none;
    font-size: x-large;
}

.bigbutt {
    color: #333;
    background-color: rgb(213, 213, 213);
    border-radius: 7px;
    border: none;
    font-size: x-large;
    width: 100%;
    height: 3em;
}

.abutt {
    display: inline-block;
    color: #333;
    background-color: rgb(152, 152, 152);
    border-radius: 7px;
    border: none;
    font-size: x-large;
    padding: 5px;
    margin: 5px;
    text-decoration : none;
    text-align: center;
}

.toggle {
    padding: 5px;
    margin: 10px;
}